.bgCard {
    background-color: #2a2d3e !important;
    max-width: 225;
}

.nameCard {
    color: white;
    font-family: 'mitr' !important;
}

.sec1Title {
    font-family: 'mitr' !important;
    display: inline;
    color: #7fb329;
    font-weight: 600;
}

.section:nth-child(odd) {
    background: #212332;
}

.section:nth-child(even) {
    background: #2a2d3e;
}

.content {
    line-height: 1.8 ;
    color: white;
    font-family: 'sarabun' !important;
    text-indent: 2em;
}

.secTitle {
    text-align: center;
    font-family: 'mitr' !important;
    color: #4ea9f4;
    font-weight: 700;
    text-transform: uppercase;

}

.sec2TitleBox {
    width: 500px;
}

.sec3TitleBox {
    width: 1000px;
}

.sec4TitleBox {
    width: 200px;
}

.imgApp {
    width: 100%;
}

.imgpH {
    width: 100%;
}

.background {
    background-color: #2a2d3e;
    /* background-color: #212332; */
    min-height: 100vh
}

.box {
    background: #2a2d3e;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.mitr {
    font-family: 'mitr';
}

.sarabun {
    font-family: 'Sarabun';
}

.inline {
    display: inline;
}

.img {
    height: 300px;
    width: auto;
}

@media screen and (min-width: 1px) {
    .secTitle {
        font-size: 20px !important;
    }
    .sec1Title {
        font-size: 30px !important;
    }

    .section {
        padding: 10px 0;
    }

    .img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 641px) {
    .secTitle {
        font-size: 25px !important;
    }
    .sec1Title {
        font-size: 40px !important;
    }

    .section {
        padding: 20px 0;
    }

    .img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1008px) {
    .secTitle {
        font-size: 30px !important;
    }
    .sec1Title {
        font-size: 50px !important;
    }

    .section {
        padding: 40px 0;
    }

    .img {
        width: 100%;
        height: auto;
    }

}