.institution {
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: tooltip;
    padding: 5px 10px;
    font-family: 'mitr';
    border-bottom-right-radius: 10px
}

.bgWater {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    min-height: 100vh;
    font-family: 'mitr';
    background:radial-gradient(at center bottom, rgb(56, 189, 248), rgb(49, 46, 129));
    padding: 0;
    overflow: hidden;
}

.cardLogin {
    width: 480px;
    background: linear-gradient(rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    /* background-color: #2a2d3e; */
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 1;
    z-index: 700;;
}

.LottieRegister {
    height: 250px;
}

.mitr {
    font-family: 'mitr',
}

